.main-container {
    width: 100%;
    text-align: center;
    background-color: #181818;
}

.full-width {
    width: 100%;
}

.full {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 1200px;
}

.flex {
    display: flex;
}

.column {
    flex-flow: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.center {
    align-items: center;
}

.project {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    transition: ease-in .3s;
    .project-info {
        margin: 0 0 40px 40px;
        text-align: left;
        z-index: 2;
        transition: ease-in .3s;
    }
    .blur-layer {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .2);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        backdrop-filter: grayscale(100%) blur(16px);
        opacity: 0;
        transition: ease-in .3s;
    }
    &:hover {
        .blur-layer {
            opacity: 1;
        }
        .project-info {
            h2, p {
                color: #E3FF34;
            }
        }
    }
}